# env.sample
SECRET_KEY="your_secret_key_here"
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
#DATABASE_URL=postgres://user:password@localhost:5432/theatre_db
SQLITE="your_sqlite_path_here"
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_USER=your_postgres_user
POSTGRES_DB=your_postgres_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data
